<mat-toolbar color = "primary" class="p0 fw">
  <div class="container-fluid">
    <div class="row p0" >




    <div class="col-3 p0 mt-3">
      <div class="mx-3 fh centrifyc">
        <app-shared-button-stroked [width]="''"
        (click) = "side_nav.toggle()"
        ><i class="material-icons fh my-icon">menu</i></app-shared-button-stroked>
      </div>
    </div>

    <div class="col-6 p0 mt-3">
      <div class="mx-3 fh centrifyc">
        <div class="container-img"
        [ngStyle]="{'padding-top': '20%'}">
          <div class="img-brand">
            <img [src]="brandService.BRAND_LOGO" class="fw fh" [alt]="brandService.BRAND_NAME + 'logo'" >
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 p0 mt-3">
      <div class="mx-3 fh centrifyc">
        <app-shared-button-stroked><i class="material-icons fh my-icon">shopping_cart</i></app-shared-button-stroked>
      </div>
    </div>

    <div class="col-12 p0 mt-3" >
      <hr>
    </div>

    <div class="col-12 p0 my-3" >
      <div class="mx-3" style="margin: 0px" >
        <mat-form-field class="fw" appearance="fill">
          <mat-label>Search</mat-label>
          <input matInput>
          <mat-icon matSuffix>search</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
    </div>

    </div>
  </div>
</mat-toolbar>
