@import "../../../../../node_modules/bootstrap/dist/css/bootstrap.css";


mat-toolbar{
  height: auto !important;
}

.centerify{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

mat-icon{
  cursor: pointer;
}


hr{
  margin: 0px;
}


.contianer-img{
  width: 100%;
  position: relative;
}

.img-brand{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

mat-form-field{
  margin: 0px;
}

