

<div class="row" *ngIf= "user">
  <div class="col-lg-4 col-md-6 col-12">
    <img class="img-fluid mt-3" [src]="user.image_profile ? user.image_profile : brandService.EMPTY_USERS_PROFILE_PIC" >
  </div>
  <div class="col-lg-8 col-md-6 col-12">

    <div class="row ">

      <div class="col-12 mt-3">

        <mat-form-field>
          <input matInput placeholder = "name" [value]="user.name">
        </mat-form-field>

      </div>

      <div class="col-12 mt-3">

        <mat-form-field>
          <input matInput placeholder = "last name" [value]="user.last_name">
        </mat-form-field>

      </div>

      <div class="col-12 mt-3">

        <mat-form-field>
          <input matInput placeholder = "email" email [value]="user.email">
        </mat-form-field>

      </div>


      <div class="col-6 mt-3">
        <div>
          <app-shared-button-raised [color] = "'accent'" >Save</app-shared-button-raised>
        </div>
      </div>

      <div class="col-6 mt-3">
        <div>
          <app-shared-button-raised [color] = "'warn'" >Cancel</app-shared-button-raised>
        </div>
      </div>




      <div class="col-4" *ngFor="let pr of user.shopping_cart">
        {{pr.name}}
      </div>

    </div>

  </div>
</div>
