
@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";


.search_filter{
  display: flex;
  flex-wrap: wrap;
}

.container-image{
  width: 100%;
  position: relative;
  padding-top: 75%;
}
.img-s{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

