

<div class="fw fh" style="display: flex; flex-direction: column">

  <div class="container-fluid fw txs">
    <div class="row">
      <div class="fh col-12"
      [ngClass] = "{'col-lg-5' : !progress_bar}">
        <div class="my-3 mr-3 fh">
          {{name_carousel}}
          <hr *ngIf="!progress_bar" class="mt-1">
          <mat-progress-bar
          class="example-margin"
          [color]="'accent'"
          [mode]="'determinate'"
          [value]="perc"
          *ngIf="progress_bar"
          class="mt-1">
          </mat-progress-bar>
        </div>
      </div>

      <div class="col-lg-7 fh" *ngIf="!progress_bar && (this.sb.xl || this.sb.large)">
        <div class="my-3 mr-3 fh" >
          &nbsp;
          <hr class="mt-1 fh">
        </div>
      </div>

    </div>
  </div>
<!-- The lines above where used for the header -->
  <div style="display: flex; position: relative; flex-grow: 1" >

    <div class="arrows al" >
      <mat-card class="p0" matRipple (click)="showLeft();touched()"
      (mouseover)="hoverCardRight = 1" (mouseout) = "hoverCardRight = 0.1" [style.opacity] = "hoverCardRight">
        <div class="mx-2" #al>
          <i class="material-icons fw arrowt my-3 txs">keyboard_arrow_left</i>
        </div>
      </mat-card>
    </div>

    <!-- actually showing data -->
    <div class="fw p0" #scroller_container>
      <div class="content-container fh">
        <perfect-scrollbar class="scroll-container fh"
        (psScrollRight) = "out_of_start()"
        (psXReachEnd) = "reach_end()"
        (psScrollLeft) = "out_of_end()"
        (psXReachStart) = "reach_start()">


          <!-- The content starts here and everything above was to set the scroll bar -->
          <div class="flx-container fh p0 mb-5"  #container>

            <div *ngFor="let prod of products; let i = index;"
            (click)="routingService.goToProduct(prod)"
            class="container-fluid cursorP"
            [ngStyle]="{'width': 100/nums-2 + '%', 'max-width': 100/nums + '%', 'min-width': 100/nums + '%'}"
            >
            <!-- why ? -->
            <a [routerLink]="[routingService.getProductUrl(prod)]"></a>
              <div class="row p0 fh">
                <div class="col-12 my-3 p0 fh">
                  <div class="ml-3 fh txs"
                  [ngClass]="{'mr-3' : i == products.length - 1, 'mat-elevation-z2' : hoversProducts[i]}"
                  (mouseover)="hoversProducts[i] = true"
                  (mouseout)="hoversProducts[i] = false"
                   >
                   <!-- TODO fix the problem that you have that you can't open in a new tab -->
                    <img [src]="prod.image_address[0]" [ngStyle]="{'max-height': maxH_pic}"
                    (error)="prod.image_address[0] = bs.empty_images"
                    class="img-fluid">
                    <div>
                      {{prod.name}}
                    </div>
                    <div>
                      {{prod.promo_code ? prod.main_price * (1-prod.promo_code.percent) : prod.main_price}}$
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>


        </perfect-scrollbar>
      </div>
    </div>


    <div class="arrows ar" >
      <mat-card class="p0" matRipple (click) = "showRight(); touched()"
      (mouseover)="hoverCardLeft = 1" (mouseout) = "hoverCardLeft = 0.1" [style.opacity] = "hoverCardLeft" >
        <div class="mx-2" #ar>
          <i class="material-icons fw arrowt my-3 txs">keyboard_arrow_right</i>
         </div>
      </mat-card>
    </div>

  </div>
</div>
