@import "../../../../../../node_modules/bootstrap/dist/css/bootstrap.css";

.rowm{
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.colm{
  width: 23%;
}

/* TODO check if you need to check height by ratio or set pixel */
.ratio{
  width: 100%;
  padding-top: 70%; /*  Aspect Ratio */
  position: relative;
}

