

<div style = "width : 100%; height: 100%; max-width: 100%;max-height: 100%;; display: flex;">
  <div style="height: 100%;max-width: 40%;; overflow: hidden;display: flex;flex-direction: column">
    <mat-toolbar color = 'warn' style="height: 10%; border-radius: 0 0 25% 25%; display: flex; justify-content: center; align-items: center">Promotions</mat-toolbar>
    <img [src]="promo.product.image_address[0]" alt="" class="img-fluid" style="flex-grow: 1;width: 100%; height: 100%;">
  </div>
  <div style="height: 100%;flex-grow: 1;max-width: 60%; display: flex; flex-direction: column" class="container">
    <p style="text-decoration: line-through ; opacity: 0.6; font-size: 2rem">
      {{promo.product.main_price}}$ CAD
    </p>
    <p style="opacity: 1; font-size: 2.5rem; display: flex;;align-items: center">
    {{promo.product.main_price - (promo.percent * promo.product.main_price)}}$ CAD  &nbsp;
    <mat-chip-list >
      <mat-chip selected color='warn' >
        {{promo.percent}}% Discount
      </mat-chip>
    </mat-chip-list>
    </p>
    <mat-list>
      <h3 mat-subheader>Features</h3>
      <mat-list-item *ngFor="let feature of promo.product.main_features.slice(0, 2)">
        <mat-icon mat-list-icon >fiber_manual_record</mat-icon>
        <p mat-line>{{feature}}</p>
      </mat-list-item>
      <hr>
    </mat-list>

    <div style="flex-grow: 1;justify-content: center; align-items: center;font-size: 2vw;display: flex; flex-direction: row" *ngIf="remaines">
      Remaining Time : &nbsp;
      <div style="display: flex; flex-direction: row"
      *ngFor="let time of time_counter; let i = index">
        <div style="display: flex;flex-direction: row" *ngIf="time > 0">
          {{time}} <div *ngIf="i != time_counter.length - 1" >&nbsp; :  &nbsp;</div>
        </div>
      </div>
    </div>

    <div style="flex-grow: 1;justify-content: center; align-items: center;font-size: 2rem;display: flex; flex-direction: row" *ngIf="!remaines">
      <mat-toolbar style="height: 60%; display: flex; align-items: center; justify-content: center" color = "warn">
        Sorry The Offer Has Expiered.
      </mat-toolbar>
    </div>

  </div>
</div>



