
<button mat-button [matMenuTriggerFor]="menu1" style="font-size: 1vw;" *ngIf="!small && !medium">{{menu.name}}</button>
<button mat-button [matMenuTriggerFor]="menu1" style="font-size: 1.35vw;" *ngIf="!small && medium">{{menu.name}}</button>
<button mat-button [matMenuTriggerFor]="menu1" style="font-size: 1.7vw;padding: 0px;" *ngIf="small && !medium">{{menu.name}}</button>

<mat-menu  #menu1="matMenu">
  <div style="height: 60vh;width: 50vw;display: flex; flex-direction: column;flex-wrap: wrap; align-content: space-around;">
    <div style="margin-top:1%; margin-left:1%; font-size: 100%;" *ngFor="let sm of menu.submenus" >
      <div style = "color: gray" *ngIf = "!sm.hasSub">
        {{sm.name}}
      </div>
      <div style = "color: darkblue" *ngIf = "sm.hasSub">
        <mat-icon style="font-size: 70%; width: auto; height: auto;">whatshot</mat-icon>{{sm.name}}
      </div>
    </div>
  </div>
</mat-menu>


