
.new-promotion{
  width : 100%;
  height : 10%;
  border-radius: 0% 0% 50% 50%;
  text-align: center;
  display: flex;
  justify-content: center;
}

/*TODO fix the size of the name of the promo better than now because
right now it only relize on the fact that we are resizing*/
