/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";




html{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  /* background: blue; */
}

/* body{
  min-width: 1024px;
} */


.height-at-least-parrent{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.height-at-max-parrent{
  max-height: 100%;
  display: flex;
  flex-direction: column;
}


.fh{
  height: 100%;
}

.fw{
  width: 100%;
}

.fx-grow{
  flex-grow:1;
}

.fx-grow2{
  flex-grow:2;
}

.fx-grow3{
  flex-grow:2;
}

.oh{
  overflow: hidden;
}

.p0{
  padding: 0px !important;
}

.minfh{
  min-height: 100%;
}

.wrapping{
  /* width: 100% !important;
  max-width : 100% !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-flex-wrap: wrap !important;
  flex-wrap: wrap !important; */
  /* text-align: center !important; */
  /* justify-content: center; */
}

.txs{
  text-align: center;
}


@media(max-width : 576px){
  body{
    min-width: 0px;
  }
}

app-root{
  width: 100% !important;
  height: 100% !important;
  margin: 0px;
  padding: 0px;
}









.centrifyc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centrifyr{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.endifyc{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.endifyr{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}


.startifyc{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.startifyr{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}



/* XS */
@media (max-width : 575.999px){
  .my-icon{
    font-size: 3rem;
  }
}

/* SM */
@media (min-width : 576px) and (max-width : 767.999px){
  .my-icon{
    font-size: 4rem;
  }
}

/* MD */
@media (min-width : 768px) and (max-width : 991.999px){
  .my-icon{
    font-size: 5rem;
  }
}

/* LG */
@media (min-width : 992px) and (max-width : 1199.999px){
  .my-icon{
    font-size: 5.5rem;
  }
}


/* XL */
@media (min-width : 1200px) {
  .my-icon{
    font-size: 6rem;
  }
}


