/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

.cursorP{
  cursor: pointer;
}


html{
  width: 100%;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
}

body{
  width: 100%;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
}
app-root{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: block;
  height: 100% !important; */
  /* background: blue !important; */
  /* width: 100% !important;
  margin: 0px;
  padding: 0px; */

}

/* body{
  min-width: 1024px;
} */


.height-at-least-parrent{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.height-at-max-parrent{
  max-height: 100%;
  display: flex;
  flex-direction: column;
}


.fh{
  height: 100%;
}

.fw{
  width: 100%;
}

.fx-grow{
  flex-grow:1;
}

.fx-grow2{
  flex-grow:2;
}

.fx-grow3{
  flex-grow:2;
}

.oh{
  overflow: hidden;
}

.p0{
  padding: 0px !important;
}

.minfh{
  min-height: 100%;
}

.wrapping{
  /* width: 100% !important;
  max-width : 100% !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-flex-wrap: wrap !important;
  flex-wrap: wrap !important; */
  /* text-align: center !important; */
  /* justify-content: center; */
}

.txs{
  text-align: center;
}


@media(max-width : 576px){
  body{
    min-width: 0px;
  }
}









.centrifyc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centrifyr{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.endifyc{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.endifyr{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}


.startifyc{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.startifyr{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}



/* XS */
@media (max-width : 575.999px){
  .my-icon{
    font-size: 3rem;
  }
  .auto-wrap{
    white-space: pre-wrap;
    font-size: 0.9rem;
  }

}

/* SM */
@media (min-width : 576px) and (max-width : 767.999px){
  .my-icon{
    font-size: 4rem;
  }
  .auto-wrap{
    white-space: pre-wrap;
    font-size: 1.1rem;
  }

}

/* MD */
@media (min-width : 768px) and (max-width : 991.999px){
  .my-icon{
    font-size: 5rem;
  }
  .auto-wrap{
    white-space: pre-wrap;
    font-size: 1.2rem;
  }

}

/* LG */
@media (min-width : 992px) and (max-width : 1199.999px){
  .my-icon{
    font-size: 5.5rem;
  }
  .auto-wrap{
    white-space: pre-wrap;
    font-size: 1.5rem;
  }

}


/* XL */
@media (min-width : 1200px) {
  .my-icon{
    font-size: 6rem;
  }
  .auto-wrap{
    white-space: pre-wrap;
    font-size: 2rem;
  }

}



/* TODO Manuall material css should be desolved */
.accentB{
  background: #303f9f;
}

.accentC{
  color: #303f9f;
}





/* Spinner Classes */



.spinner-base{
  position: fixed;
  display : flex;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.content-behind-spinner-base{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 1;
}

.content-behind-spinner-base-not-needed{

}

.container-of-spinner-and-all{
  position: relative;
}


