<div class = "container-all fw">
<mat-toolbar color = "primary" class="p0 fw">
  <div class="container-fluid">
    <div class="row p0" >


      <div class="col-2 p0 my-3">


        <div class="ml-3 fh centrifyr">
            <div class="container-img">
            <div class="img-itself" >
              <a routerLink = "/" class="col-2 p0" class="fw"  >
                <img [src]='brandService.BRAND_LOGO' [alt]="brandService.BRAND_NAME + 'logo'"
                alt="Logo" class="fw fh"
                >
              </a>
            </div>
          </div>
        </div>


      </div>


      <div class="col-6 p0 my-3" >
        <div class="ml-3 centrifyr">
          <mat-form-field class = "fw">
            <input  type = "search"  matInput placeholder="Search" >
          </mat-form-field>
        </div>
      </div>

      <!-- The rest of top layer navbar icons -->
      <div class="col-4 p0"  >
        <div class="container-fluid fh" >
          <div class="row p0 fh" >

            <!-- <div class="col-6 p0 auto-wrap centrifyr" >
              <div class="ml-3 fh centrifyr txs fw"  >
                <app-shared-button-flat (click)="openDialouge()"    [height]="'50%'"
                color="accent"  class="fw fh centrifyr">
                  <div class="button-detail">
                      <i class="material-icons auto-wrap">account_circle</i> Login
                  </div>
                </app-shared-button-flat>
              </div>
            </div> -->

            <div class="col-6 col-6 p0" >
              <div class="ml-3 fh" >
                <app-shared-button-flat [color]="'accent'" [height]="'60%'" (click)="accountClick()"
                style="white-space: normal;" class="centrifyc fh fw" [width] = "'100%'">
                <i class="material-icons auto-wrap"
                [ngStyle]="{'font-size': bs.large || bs.xl ? '1.5rem' : '2rem'}" >account_circle</i>
                {{bs.large || bs.xl ? authenticationService.is_authenticated() ? 'Your Account' : 'Login' : ''}}
                </app-shared-button-flat>
              </div>
            </div>

            <div class="col-6 col-6 p0" >
              <div class="mx-3 fh" >
                <app-shared-button-flat [color]="'accent'" [height]="'60%'"
                (click)="routingService.goToShoppingCart()"
                style="white-space: normal;" class="centrifyc fh fw" [width] = "'100%'"
                [matB]="shoppingCartProducts.orders.length"
                [matBc]="'warn'"
                [matBp]="'before'" >
                <i class="material-icons auto-wrap"
                [ngStyle]="{'font-size': bs.large || bs.xl ? '1.5rem' : '2rem'}" >shopping_cart</i> {{bs.large || bs.xl ? 'Shopping Cart' : ''}}
                </app-shared-button-flat>
              </div>
            </div>
            <!-- <div class="col-6 p0 auto-wrap centrifyr" >
              <div class="mx-3 fh centrifyr txs fw"  >
                <app-shared-button-flat
                [matB]="shoppingCartProducts.length"
                [matBc]="'warn'"
                [matBp]="'before'"
                [height]="'50%'"
                color="accent"  class="fw fh centrifyr">
                  <i class="material-icons auto-wrap">shopping_cart</i> Shopping Cart
                </app-shared-button-flat>
              </div>
            </div> -->


          </div>
        </div>
      </div>




    </div>
  </div>
</mat-toolbar>

<mat-toolbar [color] = "'accent'">
  <div class="container-menu-names">

    <div *ngFor="let menu of menus;let i = index"  >
      <app-menu-option style="flex-shrink: 1;width: auto" [menu]="menu" [image]="imageMenu"></app-menu-option>
    </div>

  </div>
</mat-toolbar>
<!-- TODO test this or delete it -->
<!-- <div class="testMine fw">
a
</div> -->

</div>
