@import "../../../../../node_modules/bootstrap/dist/css/bootstrap.css";


mat-toolbar, mat-toolbar-row{
  min-height: auto !important;
  height: auto !important;
  max-height: auto !important;
}

.container-img {
  width: 100%;
  padding-top: 25%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}

/* If you want text inside of the container */
.img-itself {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.space-bet{
  justify-content: space-around !important;
}

.button-detail{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-all{
  display: flex;
  flex-direction: column;
}


.container-menu-names{
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;
}

