
@import "../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";


.row{
  overflow: hidden;
}

.cursorP{
  cursor: pointer !important;
}

@keyframes example {
  from {color: blue;border: 0.1vw solid blue;}
  to {color: red;border: 0.1vw solid red;}
}

#shopping{
  border-radius: 10px;
  border: 0.1vw solid blue;
  padding: 5%;
  color: blue;
}
#shopping:hover{
  border-radius: 10px;
  border: 0.1vw solid red;
  padding: 5%;
  color: red;
  animation-name: example;
  animation-duration: 0.25s;
}

a{
  cursor: pointer;
}